.hero_bg::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    background: url("./assets/images/webp/bg_hero.webp") no-repeat;
    background-size: cover;
    background-position: 100%;
    z-index: 1;
}

.bg_box_hero {
    width: 100%;
}

.text-shadow {
    text-shadow: -8px 8px 0px #000;
}

.curveImg {
    left: -0px;
    top: -10px;
    width: 80px;
    height: 34.788px;
}

.text_rotate {
    transform: rotate(11deg);
    left: 10px;
    top: -5px;
}

.white_line {
    width: 1.23px;
    height: 24px;
}

.latter_spacing193 {
    letter-spacing: 0.193px;
}

.timeBox {
    max-width: 343px;
    width: 100%;
    height: 114px;
    filter: drop-shadow(0px 5.1353912353515625px 5.1353912353515625px rgba(0, 0, 0, 0.25));
    transform: skew(2deg);
}

.pt-20 {
    margin-top: -20px;
}

.manImg {
    width: 365px;
    height: 550px;
}

.mt-250 {
    margin-top: 225px;
}


.skew-0 {
    transform: skew(-2deg);
}

.timeContentBox {
    width: 69.328px;
    height: 43.651px;
    transform: skew(10deg);
}

.timeContentBox p,
.timeContentBox p span {
    transform: skew(-5deg);
}

.line-h-16 {
    line-height: 16px;
}

.letter_spacing_565 {
    letter-spacing: -0.565px;
}

.letter_spac_359 {
    letter-spacing: 0.359;
}

.border_sm_8 {
    border: 8px solid #000;
    padding: 16px 16px 16px 16px;
}

.yellowBox_content::after {
    position: absolute;
    top: -40px;
    left: -40px;
    content: "";
    width: 366.603px;
    height: 259.35px;
    background: url("./assets/images/png/yellow_box_content.png") no-repeat;
    background-position: center;
}

.line-h-14 {
    line-height: 14px;
}

.content-rotate-0 {
    transform: rotate(.2deg);
}

.buyNowBox-black {
    width: 320px;
    height: 273px;
    background-color: hsl(0, 0%, 19%) !important;
    transform: rotate(-0.2deg) translate(3px, -1px);
}

.buyNowBox {
    width: 315px;
    height: 267px;
}

.logoBox::before {
    position: absolute;
    content: "";
    width: 70.612px;
    height: 27.603px;
    background-color: #C43312;
    transform: skew(15deg);
    /* box-shadow: 2px 2px 2px #000; */
    filter: drop-shadow(1.2838478088378906px 1.2838478088378906px 0px #000);
}

.logoBox1::before {
    position: absolute;
    content: "";
    width: 290.15px;
    height: 38.515px;
    background-color: #C43312;
    transform: skew(15deg);
    /* box-shadow: 2px 2px 2px #000; */
    filter: drop-shadow(2.5676956176757812px 2.5676956176757812px 0px #000);
}

.letter_spacing_9 {
    letter-spacing: 0.09px;
}

.inputBox {
    width: 137.372px;
    height: 16.69px;
    background: #DFDFDF;
    outline: none;
    border: none;
}

.riskBox {
    width: 146px;
    height: 59px;
    border: 2px solid #000;
}

.lh-32 {
    line-height: 32px;
}

.whiteBox {
    width: 85px;
    border-bottom: 0px solid transparent !important;
    height: 85px;
    border: 2px solid #000;
}

.w-205 {
    width: 205px;
}

.riskbox_position {
    bottom: -22px;
    left: 0;
}

.timeBox::after {
    content: "";
    position: absolute;
    top: -18px;
    right: -91% ;
    height: 100%;
    width: 100%;
    background-position: right;
    background: url("./assets/images/png/white_black_curve.png") no-repeat;
}

.riskbox_mobile_view_position {
    top: -160px;
    left: 0;
}

.w-146 {
    width: 146px;
}

.heading_shadow::after {
    content: "";
    position: absolute;
    top: 35px;
    left: 21%;
    width: 100%;
    height: 100%;
    background: url("./assets/images/png/text_shadow.png") no-repeat;
}

@media (min-width:575.98px) {
    .timeBox {
        max-width: 392.857px !important;
        width: 100%;
        height: 130.311px;
        filter: drop-shadow(0px 5.1353912353515625px 5.1353912353515625px rgba(0, 0, 0, 0.25));
        transform: skew(2deg);
    }

    .manImg {
        width: 385.421px;
        height: 562.9px;
    }

    .timeBox::after {
        top: -15px;
        right: -93% !important;
    }

    .buyNowBox {
        width: 350px;
        height: 267px;
    }

    .buyNowBox-black {
        width: 356px;
        height: 273px;
        transform: translate(3px, -1px);
    }

    .yellowBox_content {
        width: 281.163px;
    }

    .border_sm_8 {
        padding: 20px 20px 18px 20px;
    }

    .heading_shadow::after {
        top: 45px;
        left: 30%;
    }
}

@media (min-width:767.98px) {
    .heading_shadow::after {
        top: 55px;
        left: 80px;
    }

    .yellowBox_content {
        border: 0px solid transparent;
        width: 281.163px;
        padding: 30px 20px 18px 26px;
    }

    .border_sm_8 {
        border: 0px;
        padding: 0px;
    }

    .whiteBox {
        width: 120.682px;
        height: 120.682px;
        border: 0px solid #000;
    }

    .riskBox {
        width: 205.416px;
        height: 83.45px;
        border: 0px solid #000;
    }

    .buyNowBox {
        width: 364px;
        height: 267px;
    }

    .curveImg {
        left: -135px;
        top: 20px;
        width: 170px;
        height: 60px;
    }

    .bg_box_hero {
        width: 210px;
        height: 105.276px;
    }

    .text_rotate {
        transform: rotate(8deg);
        left: -100px;
        top: 28px;
    }

    .content-rotate-0 {
        transform: rotate(0.4deg);
    }

    .buyNowBox-black {
        width: 370px;
        height: 273px;
        background-color: #303030;
        transform: rotate(-0.3deg) translate(3px, -1px);
    }

    .logoBox::before {
        position: absolute;
        content: "";
        width: 70.612px;
        height: 27.603px;
        background-color: #C43312;
        transform: skew(15deg);
        /* box-shadow: 2px 2px 2px #000; */
        filter: drop-shadow(1.2838478088378906px 1.2838478088378906px 0px #000);
    }

    .z-100 {
        z-index: 100 !important;
    }

    .heroMan {
        max-width: 373.6px;
        width: 100%;
        height: 545.635px;
        left: 15px;
    }

    .riskbox_position::after {
        content: "";
        position: absolute;
        bottom: 10%;
        right: -120px;
        width: 193.784px;
        height: 241.351px;
        background: url("./assets/images/png/riskBox_shadow.png") no-repeat;
        background-position: top;
        z-index: -1;
    }
}