.hero_bg ::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: url("./assets/img/webp/bg_hero.webp") no-repeat;
    background-size: cover;
    background-position: 100%, 100%;
}

.bg_box_hero {
    width: 206.699px;
    height: 105.276px;
}