* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  list-style-type: none;
}

.custom_container {
  max-width: 800px !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.bg_img_hero {
  background-image: url("./assets/img/webp/main.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* navbaar */
.cursor_pointer {
  cursor: pointer;
}

.pb_13 {
  padding-bottom: 13px;
}

.mr_12 {
  margin-right: -12px;
}


/* hero section */
.hero_img_w {
  max-width: 766px;
}

.bg_clr_blue {
  background-color: #039ED4;
}

.mobile_img {
  background-image: url("./assets//img/webp/mobile.webp");
  background-size: 100% 100%;
  background-repeat: no-repeat;

}

.mobile_img_w {
  max-width: 185px;
  height: 366px;
}

/* footer */
.letter_spa {
  letter-spacing: 0.6px;
  color: #FF0;
}

.bg_red {
  background-color: #FF000D;
}

.yellow_border {
  background-color: #FF0;
  height: 2.526px;
}

.ltr_sp_6 {
  letter-spacing: 0.116px;
}

.letter_spacing{
  letter-spacing: 1.316px;
}