@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
/* font-family: 'Poppins', sans-serif; */

@font-face {
  font-family: Brothes;
  src: url('./assets/fonts/Brothers/Brothers\ Regular.otf');
}

@font-face {
  font-family: MangaMaster;
  src: url('./assets/fonts/MangaMaster/MangaMasterProBB-bold.otf');
}

@font-face {
  font-family: CrimeFighter;
  src: url('./assets/fonts/CrimeFighter/crimefighter-bb.regular.ttf');
}

@font-face {
  font-family: Badabb;
  src: url('./assets/fonts/Badabb/BADABB__.TTF');
}

@font-face {
  font-family: Liberty;
  src: url('./assets/fonts/Liberty/libertylegion.ttf');
}

@font-face {
  font-family: Bright;
  src: url('./assets/fonts/Bright/BRIGHTSIGHT02\ Regular.otf');
}

@font-face {
  font-family: Samaritan;
  src: url('./assets/fonts/samaritan-tall-lower/CC\ SamaritanTallLower\ Bold.otf');
}

:root {
  --fs-xxs: 10px;
  --fs-xs: 10px;
  --fs-2xs: 14px;
  --fs-sm: 24px;
  --fs-2sm: 11px;
  --fs-md: 12px;
  --fs-2md: 16px;
  --fs-3sm: 16px;
  --fs-lg: 14px;
  --fs-xl: 45px;
  --fs_xxl: 14px;
  --fs-xxxl: 88px;

  --primary-color: #FFFF00;
  --secondary-color: #2B1501;
  --red-color: #FF000D;
  --dark-color: #231D18;
  --blue-color: #039ED4;
  --yellow-color-400: #F9A41C;
  --lite-white: #F6F6F6;
  --lite-dark: #0A273B;
  --dark-red: #C82C13;
  --white-400: #818181;
  --slate-gray-400: #6E7995;
  --slate-gray-500: #818181;
}

body {
  font-family: MangaMaster;
}

.ff_brothers {
  font-family: Brothes;
}

.ff_Poppins {
  font-family: 'Poppins', sans-serif;
}

.ff_MangaMaster {
  font-family: MangaMaster;
}

.ff_Samaritan {
  font-family: Samaritan;
}

.ff_Badabb {
  font-family: Badabb;
}

.ff_Liberty {
  font-family: Liberty;
}

.ff_CrimeFighter {
  font-family: CrimeFighter;
}

.ff_Bright {
  font-family: Bright;
}

.fs_xxl {
  font-size: var(--fs_xxl);
}

.fs_xxs {
  font-size: var(--fs-xxs) !important;
}

.fs_xs {
  font-size: var(--fs-xs) !important;
}

.fs_2xs {
  font-size: var(--fs-2xs) !important;
}


.fs_sm {
  font-size: var(--fs-sm) !important;
}

.fs_2sm {
  font-size: var(--fs-2sm) !important;
}

.fs_3sm {
  font-size: var(--fs-3sm) !important;
}


.fs_md {
  font-size: var(--fs-md) !important;
}

.fs_2md {
  font-size: var(--fs-2md) !important;
}


.fs_lg {
  font-size: var(--fs-lg) !important;
}

.fs_xl {
  font-size: var(--fs-xl) !important;
}

.fs_xxxl {
  font-size: var(--fs-xxxl);
}

.bg_primary {
  background-color: var(--primary-color);
}

.bg_secondary {
  background-color: var(--secondary-color);
}

.bg_red {
  background-color: var(--red-color);
}

.bg_blue {
  background: var(--blue-color);
}

.bg_dark {
  background-color: var(--dark-color);
}

.bg_lite_white {
  background-color: var(--lite-white);
}

.bg_lite_dark {
  background-color: var(--lite-dark);
}

.color_dark_red {
  color: var(--dark-red);
}

.color_white_400 {
  color: var(--white-400);
}

.color_lite_white {
  color: var(--lite-white);
}

.color_primary {
  color: var(--primary-color);
}

.color_secondary {
  color: var(--secondary-color);
}

.color_blue {
  color: var(--blue-color);
}

.color_dark {
  color: var(--dark-color) !important;
}

.color_yellow_400 {
  color: var(--yellow-color-400);
}

.color_slate_gray_400 {
  color: var(--slate-gray-400);
}

.color_slate_gray_500 {
  color: var(--slate-gray-500);
}

.max-w-764 {
  max-width: 780px !important;
}

.bg-height {
  height: 2.57px;
}

.text_center {
  top: 6px;
  left: 15px;
}

.text_center1 {
  top: 11px;
  right: 15px;
}

.yellow_img_set {
  transform: translateX(11px);
  width: 98px;
  height: 20px;
}

.text-after::before {
  content: "";
  background-color: #FFFF00;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  z-index: -1;
  transform: skew(-15deg) translateY(-50%);
}

.text-after1::before {
  content: "";
  background-color: #000;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  z-index: -1;
  transform: skew(-15deg) translateY(-50%);
}

.bg-height {
  height: 2.57px;
}

.py_3 {
  padding: 3px 0px;
}

.group {
  height: 24px;
  width: 24px;
  transition: all linear 100ms;
}

.group:hover {
  opacity: 0.6;
}

.px-16 {
  padding: 0px 16px;
}

.navbtn:hover {
  opacity: 0.6;
}

.navbtn {
  transition: all linear 100ms;
}

.pe-10 {
  padding-right: 10px;
}

.line-h-24 {
  line-height: 24px;
}

@media (max-width:767.98px) {
  .nav-fix {
    position: fixed;
    width: 100%;
    top: 0;
    left: -100%;
    transition: linear 500ms;
    min-height: 100%;
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 999 !important;

  }

  .nav-fix div {
    flex-direction: column;
    gap: 20px;
  }

  .show-nav {
    position: fixed;
    width: 100%;
    background-color: var(--blue-color);
    top: 0;
    left: 0;
    z-index: 999 !important;
    transition: linear 500ms;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-in-out;
  }

  .show-nav div {
    flex-direction: column;
    gap: 20px !important;
  }
}


@media (min-width:576px) {
  :root {
    --fs-xs: 12px;
    --fs-2xs: 14px;
    --fs-sm: 16px;
    --fs-2sm: 18px;
    --fs-3sm: 18px;
    --fs-md: 13px;
    --fs-2md: 20px;
    --fs-lg: 24px;
    --fs_xxl: 18px;
    --fs-xl: 45px;
    --fs-xxxl: 100px;
  }

  .text-after::before {
    height: 29px;
  }

  .text-after1::before {
    height: 29px;
  }
}

@media (min-width:767.98px) {
  :root {
    --fs-xs: 12px;
    --fs-2xs: 14px;
    --fs-sm: 16px;
    --fs-2sm: 18px;
    --fs-3sm: 18px;
    --fs-md: 24px;
    --fs-2md: 26px;
    --fs-lg: 32px;
    --fs_xxl: 25px;
    --fs-xl: 45px;
    --fs-xxxl: 110px;
  }

  .text-after::before {
    height: 39px;
  }

  .text-after1::before {
    height: 39px;
  }

  .white_space {
    white-space: nowarp;
  }

  .px-md-30 {
    padding: 0px 30px !important;
  }

  .pe-10 {
    padding-right: 15px;
  }
}

@media (min-width:991.98px) {
  :root {
    --fs-xs: 12px;
    --fs-sm: 16px;
    --fs-2sm: 18px;
    --fs-3sm: 19px;
    --fs-md: 24px;
    --fs-2md: 29px;
    --fs-lg: 36px;
    --fs-xl: 45px;
    --fs_xxl: 45px;
    --fs-xxxl: 120px;
  }
}

@media (min-width:1199.98px) {
  .mobile_img_position {
    left: 0.5%;
  }

  .min_h_100 {
    min-height: 100vh;
  }

  .coffee_img_set {
    right: -0.5%;
  }

  .coffee_img {
    max-width: 236px;
  }
}

@media (min-width:1399.98px) {
  .rotate {
    rotate: -8deg;
  }

  .mobile_img_position {
    left: 7%;
  }

  .coffee_img {
    max-width: 336px;
  }

  .coffee_img_set {
    right: 0%;
  }
}

@media (min-width:1599.98px) {
  .coffee_img_set {
    right: 6%;
  }

  .rotate {
    rotate: -15deg;
  }

  .mobile_img_position {
    left: 10%;
  }
}