.bg_clr_blue {
    background-color: #01749F;
}

.fs_12 {
    font-size: 20px;
}

.fs_xsm {
    font-size: 6px;
}

.lh_12 {
    line-height: 12px;
}


.madcap_blur_bg::after {
    background-image: url("./assets/images/png/blur_bg_img.png");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 320px;
    position: absolute;
    background-position: center;
    content: "";
    top: 20%;

}

.madcap_1st_img {
    max-width: 440px;
}

.para {
    font-size: 7px;
    line-height: 11px;
    letter-spacing: -0.08px;
}

.madcap_1st_img_text {
    max-width: 91px;
    top: 16%;
    left: 11%;
}


.madcap_2nd_img_text {
    right: 27%;
    max-width: 72px;
    top: 16%;
}



.madcap_3rd_img_text {
    top: 8%;
    right: 26%;
    max-width: 80px;
}

.madcap_3rd_img_2nd_text {
    bottom: 8%;
    right: 8%;
    max-width: 89px;
}

/* skating */
.skating_bg_img {
    background-image: url("./assets/images/webp/skating_bg_img.webp");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.bg_clr_brown {
    background-color: #231F20;
}

.clr_lite_gray {
    color: #D7DBDD;
}


@media (min-width:576px) {
    .para {
        font-size: 8px;
        line-height: 9px;
        letter-spacing: -0.08px;
    }

    .madcap_1st_img_text {
        top: 20%;
        left: 11%;
        max-width: 106px;
    }

    .madcap_2nd_img_text {
        right: 29%;
        max-width: 88px;
        top: 30%;
    }

    .madcap_3rd_img_text {
        top: 12%;
        right: 26%;
        max-width: 92px;
    }

    .madcap_3rd_img_2nd_text {
        bottom: 11%;
        right: 11%;
        max-width: 93px;
    }

    .fs_12 {
        font-size: 12px;
    }
}